body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.menu-section {
    margin-top: 20px;
}

.menu-item {
    display: flex;
    justify-content: space-between; /* Per allineare il nome del prodotto e il prezzo */
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    flex-wrap: wrap; /* Permette di andare a capo quando lo schermo è troppo stretto */
    border-radius: 6px; /* Opzionale: angoli arrotondati */
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item span:first-child {
    font-weight: bold;  /* Rendi il nome del prodotto in grassetto */
    flex-basis: 70%; /* Imposta il nome del prodotto per occupare la maggior parte dello spazio */
}

.menu-item span:last-child {
    font-weight: normal;  /* Rendi il prezzo normale */
    margin-top: 5px;  /* Aggiungi uno spazio sopra il prezzo */
    text-align: right;  /* Allinea il prezzo a destra */
    flex-basis: 30%; /* Imposta il prezzo per occupare il 30% dello spazio */
}

.menu-item p {
    margin-top: 5px;  /* Aggiungi uno spazio tra il prezzo e gli ingredienti */
    font-size: 0.9em;
    color: #555;
}

.menu-item p {
    margin-top: 5px;  /* Aggiungi uno spazio tra il prezzo e gli ingredienti */
    font-size: 0.9em;
    color: #555;
    padding-left: 10px; /* Rientro degli ingredienti */
}

.menu-section img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    aspect-ratio: 4 / 3;  /* Imposta un rapporto di aspetto fisso (es. 4:3) */
    object-fit: cover;  /* Ritaglia l'immagine per riempire l'area senza deformarla */
}

.section-icon {
    max-width: 30px;  /* Impostiamo la larghezza massima */
    max-height: 30px; /* Impostiamo l'altezza massima */
    width: 100%;      /* Impostiamo la larghezza per adattarsi al contenitore */
    height: auto;     /* Mantiene la proporzione originale */
    margin: 10px; /* Spazio tra l'icona e il titolo */
    vertical-align: middle; /* Allinea verticalmente l'icona */
    object-fit: contain; /* Mantiene la proporzione dell'immagine */
}

@media (max-width: 600px) {
    .menu-item {
        flex-direction: column;
        text-align: left;
    }
    .menu-item span:last-child {
        margin-top: 10px; /* Spazio maggiore tra prezzo e nome prodotto su schermi piccoli */
    }
}
