body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.menu-section {
    margin-top: 20px;
}

.menu-item {
    display: flex;
    justify-content: space-between; /* Allinea il nome e il prezzo */
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    flex-wrap: wrap; /* Permette agli ingredienti di andare a capo */
}

.menu-item:last-child {
    border-bottom: none;
}

.item-name {
    font-weight: bold;
    flex-basis: 70%; /* Imposta la larghezza del nome del prodotto */
}

.item-price {
    font-weight: normal;
    margin-top: 5px;
    text-align: right; /* Allinea il prezzo a destra */
    flex-basis: 30%; /* Imposta la larghezza del prezzo */
}

.menu-item p {
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
    padding-left: 10px;
    width: 100%; /* Forza gli ingredienti a occupare tutta la larghezza */
}

.section-icon {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    margin: 10px;
    vertical-align: middle;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.section-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 6px;
}

@media (max-width: 600px) {
    .menu-item {
        flex-direction: column; /* Su schermi piccoli, i contenuti vanno a capo */
        align-items: center; /* Allinea gli elementi verticalmente */
        text-align: center; /* Centra il testo per tutti gli elementi */
    }
    
    .item-name {
        text-align: center; /* Allinea il nome del prodotto al centro */
        flex-basis: 100%; /* Occupano tutta la larghezza per schermi piccoli */
        margin-bottom: 5px; /* Spazio sotto il nome del prodotto */
    }
    
    .item-price {
        margin-top: 5px; /* Spazio maggiore sopra il prezzo */
        text-align: center; /* Allinea il prezzo al centro */
        flex-basis: 100%; /* Fa sì che il prezzo occupi tutta la larghezza */
    }
    
    .menu-item p {
        text-align: center; /* Centra anche il testo degli ingredienti */
    }
}
